.innerBox{
    max-width: 1200px;
    margin:0 auto;
    width:100%;
    position: relative;
}
/* background******************************************* */
#back1{
    background-image: url(../images/section2_back.png);
}
#back2{
    background-image: url(../images/section3_back.png);
}
#back3{
    background-image:url(../images/section4_back.png);
}
#back4{
    background-image: url(../images/section5_back.png);
}
/* header (gnb) *************************************************** */
.fixed{
    max-width: 1200px;
    width:100%;
    position: fixed;
    z-index: 100;
}
.logo{
    position: absolute;
    top:20%;
    left:50%;
    transform: translateX(-50%);
}
.leftGnb{
    width:50%;
    position: absolute;
    left: 0;
    top:10%;
    display: flex;
    text-align: center;
}
.leftGnb>li {
    width: 20%;
    background-color: #cfcdce;
    border-radius: 50px;
    padding: 1% 0;
}

.leftGnb>.active {
    background-color: #0a2b4a;
}

.leftGnb>.active>a {
    color: white;
}
.rightGnb{
    position: absolute;
    top:10%;
    right: 0;
    display: flex;
    max-width: 300px;
    width:100%;
}
.rightGnb>li{
    width:100%;
    margin-left: 2%;
}
.rightGnb>li:hover a{
    color:#a3ccf5;
}
/* nav**************************************************** */
nav{
    margin-top: 10%;
}
#nav{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
#nav>li {
    width: 100%;
    position: relative;
    font-size: 20px;
    font-weight: 600;
}
#nav>li:hover {
    background-color: #d9e4f0;
}
#nav>li:hover .sub {
    height: 150px;
}
.sub {
    width: 100%;
    position: absolute;
    height: 0;
    overflow: hidden;
    background-color: #e8eff7;
    text-align: center;
    transition: 0.5s;
    line-height: 2;
}
.sub>li {
    font-size: 16px;
    font-weight: 400;
}
/* banner************************************************** */
.mainBanner{
    padding-top: 8.5%;

}
.banner{
    display: flex;
}
.banner>li{
    position: relative;
}
.banner .textBox{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    left:20%;
}
.textBox>.title{
    font-size: 18px;
}
.textBox>.middle{
    padding-top: 10%;
    font-size: 30px;
}
.textBox>.strong{
    font-size: 36px;
    font-weight: 500;
    padding-bottom: 5%;
}
.textBox>.button{
    padding-top: 10%;
}
.textBox>.button>a{
    border:1px solid #0a2b4a;
    border-radius:20px;
    padding:2% 5%;
}
.textBox>.button>a:hover{
    background-color: #0a2b4a;
    color:white;
}
.pager{
    display: flex;
    position:absolute;
    bottom:5%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 60px;
    width:100%;
    cursor: pointer;
}
.pager>li{
    text-indent: -99999px;
    margin-right: 10%;
    border: 1px solid #0a2b4a;
    border-radius: 50%;
    width:12px;
    height:12px;
}
.pager>.active {
    background-color: #0a2b4a;
}

/* text*************************************************** */
.Wrap{
    float: right;
    margin-top: 2%;
    margin-right: 2%;
}
.titleW{
    font-weight: 500;
    font-size: 36px;
    padding-bottom: 2%;
}
.typing-txt{
    /* display: none; */
    opacity: 0;
}
.typing{
    font-size: 20px;
    font-weight: 300;
}
.typing ul li{
  /* display:block; */
  opacity: 1;
  line-height: 2;
}
.typing ul li.on {  
  display: inline-block; 
  animation-name: cursor; 
  animation-duration: 0.3s; 
  animation-iteration-count: infinite; 
} 
@keyframes cursor{ 
  0%{border-right: 1px solid #fff} 
  50%{border-right: 1px solid #000} 
  100%{border-right: 1px solid #fff} 
}
video{
    max-width: 420px;
    width:100%;
}
.eduMore{
    padding-top: 5%;
}
.eduMore>a:hover{
    background-color: #e0efff;
}
.eduMore>a{
    border:1px solid #0a2b4a;
    border-radius: 20px;
    padding: 2% 3%;
}
.video>ul{
    padding-top: 5%;
}

/* education********************************************* */
.eduText{
    padding-top: 17%;
    display: flex;
    justify-content: space-between;
}
.eduText>p{
    color:white;
}
.eduText>p>.color{
    color:#4f8fca;
}
.eduText>p:first-child{
    font-size: 45px;
}
.eduText>p:last-child{
    margin-top: 7%;
    font-size: 24px;
    font-weight: 300;
}
.icon{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 10%;
}
.icon p{
    color:white;
}
.icon p:first-child{
    margin-top: 5%;
    font-size: 24px;
}
.icon p:last-child{
    font-size: 20px;
}
.icon>li:nth-child(2) p:first-child,
.icon>li:last-child p:first-child{
    margin-top: 25%;
}
.icon p:last-child{
    margin-top: 5%;
}
.icon>li{
    position: relative;
}
.icon>li:nth-child(2) img:nth-of-type(2){
    left:8%;
}
.icon>li:nth-child(3) img:nth-of-type(2){
    left: 19.5%;
}
.icon>li img:nth-of-type(2){
    left: 0;
    top:0;
    position: absolute;
    display: none;
}

.icon>li:hover img:nth-of-type(2){
    display: block;
}
.icon>li:hover p{
    color:#5ecfef;
}


/* apply************************************************* */
.left{
    padding-top: 20%;
    float: left;
    width:50%;
}
.left>.qTitle{
    font-size: 36px;
}
.left p{
    font-size: 24px;
}
.left .center{
    display: flex;
    padding-top: 12%;
}
.left .center>p:last-child{
    line-height: 2.5;
    margin-left: 2%;
}
.left .time{
    display: flex;
    padding-top: 12%;
}
.left .time>p:last-child{
    margin-left: 2%;
}
.right{
    padding-top: 20%;
    float:right;
    width:45%;
}
.right>p{
    font-size: 24px;
}
.right .name{
    margin-top: 3%;
    width:100%;
    line-height: 3;
    font-size: 18px;
    text-indent: 10px;
}
.right select{
    margin-top: 3%;
    padding: 2% 5%;
}
.right .tell{
    padding: 2% 3.3%;
}
.right textarea{
    margin-top: 3%;

}
.right .sign{
    text-align: center;
    margin-top: 8%;
}
.right .sign>a{
    font-size: 18px;
    background-color: #0a2b4a;
    color:white;
    border-radius: 30px;
    padding: 1% 5%;
}
.right .sign>a:hover{
    background-color: white;
    color:#000
}
textarea{
    width:100%;
    height: 350px;
}


/* review************************************************** */
.txt{
    text-align: center;
    padding-top: 10%;
    line-height: 2;
}
.txt>p:first-child{
    font-size:40px;
}
.txt>p:last-child{
    font-size:24px;
}
.reImg{
    display: flex;
    justify-content: space-evenly;
    padding-top: 3%;
}
.reImg img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}.reImg>li{
    overflow: hidden;
}
.reImg>li:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.reText{
    display: grid;
    padding-top: 5%;
}
.reText>li{
    background-color: #eee;
    padding: 2% 0 2% 2%;
}
.reText>li>a{
    display: flex;
}
.reTx{
    margin: 2% 0 0 3%;
}
.reText>li:nth-child(2){
    grid-column: 2/2;
}
.reText>li:first-child,
.reText>li:nth-child(2){
    margin-bottom: 3%;
}
.reText>li:nth-child(1),
.reText>li:nth-child(3){
    margin-right: 6%;
}
.reMore{
    margin-top: 5%;
    text-align: center;
}
.reMore>a{
    border-radius: 50px;
    background-color: #0a2b4a;
    padding:1% 3%;
    color:white;
    font-size:18px;
}
.reMore>a:hover{
    background-color: #a3ccf5;
}

/* footer*************************************************** */
footer{
    padding: 2% 0;
}
.ad{
    display: flex;
    justify-content: space-between;
    padding: 3% 0;
}
.textLo span{
    font-size: 20px;
}
.sns{
    display: flex;
    padding-right: 2%;
}
.sns>li{
    padding-left: 2%;
}
.footInfo{
    display: flex;
}
.footInfo>li{
    margin-right: 2%;
}
.footInfo a{
    font-size: 15px;
    font-weight: 500;
    color: white;
}
.footInfo>li>a:hover{
    color:#a3ccf5;
}
address{
    padding-top: 2%;
    line-height: 2;
    color:white;
}
.shop{
    position:absolute;
    top:20%;
    right: 0;
}